body {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4
}

.background-svg {
  position: absolute;
  top: 11%;
  left: 50%;;
  transform: translate(-50%, -50%);
  display: inline-block;
  white-space: nowrap;
  pointer-events: none;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.button {
  background-color: #15263B; /* Default background color */
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  font-style: inter;
  font-size: 23px;
  font-weight: 400;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 270px; /* Adjust height for square shape */
}

.button svg {
  margin-bottom: 30px; /* Space between logo and text */
}

.button:hover {
  background: linear-gradient(to right,  #0046C7, #005AFF ); /* Change to blue on hover */
  transform: translateY(-5px); /* Move up on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(0);
}